/* Gantt Chart Styles */
.gantt-container {
    position: relative;
    width: 100%;
    overflow-x: auto;
    border: 1px solid #ccc;
    padding: 20px;
}

.gantt-labels {
    display: flex;
    position: relative;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    width: 100%
}

.gantt-label {
    position: absolute;
    flex: 1;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    color: white;
    background-color: #3498DB;
    border-right: 2px solid #fff;
    border-radius: 5px 5px 0 0;
    transform: translate(-50%, 0); 
}


/* Year Labels with Single Color */
.gantt-peoples {
    text-align: center;
    font-weight: bold;
    padding: 10px px;
    color: white;
    background-color: #3498DB;
    border-right: 2px solid #fff;
    border-radius: 5px 5px 0 0;
    width: 10%;
}

/* Year Labels with Single Color */
.gantt-people {

    position: absolute;
    height: 30px;
    color: white;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    padding: 0 10px;
    background-color: #cddaf0;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Gantt Event Bars */
.gantt-event {
    position: absolute;
    height: 30px;
    color: white;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    padding: 0 10px;
    background-color: #d8e7d8;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.gantt-tooltip {
    position: fixed;
    background-color: #f0f0f0;
    color: #333;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    display: none; /* Initially hidden */
    z-index: 1000; /* Ensure it's above other elements */
}
.gantt-chart {
    position: relative;
}

